This class is intended for those who want to learn how to develop <a href="https://www.nextflow.io/">Nextflow</a> pipelines. 
Nextflow is a programming language used to code computational pipelines for multi-step data analyses 
and is particularly popular in the bioinformatics field. 
Some reasons Nextflow is popular include its provision of good parallelization, scalability, 
structure/compartmentalization, ability to resume failed jobs, 
and portability across a range of run-time environments (e.g. localhost, SLURM, GCP, AWS, Kubernetes). 
If you only want to learn how to run existing Nextflow pipelines, 
CS offers another class demonstrating configuration and use of existing pipelines.
